<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add all students to all bootcamp courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Add a new course</h1>
    {% for error in messages%}
    <p style="color: red;">{{error}}</p>
    {% endfor %}
    <form action="/add_course/" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"></p>
        <p>Description: <input type="text" name="desc"></p>
        <button type="submit">Add</button>
    </form>
    <h2>Courses</h2>
    <table>
        <thead>
            <td>Course Name</td>
            <td>Description</td>
            <td>Date Added</td>
            <td>Actions</td>
        </thead>
        <tbody>
            {% for course in courses%}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.added_at }}</td>
                <td><a href="/courses/destroy/{{course.id}}">remove</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>